export default {
  primary: '#409eff',
  success: '#67c23a',
  warning: '#e6a23c',
  danger: '#f56c6c',
  info: '#909399',
  text: '#303133',
  regular: '#606266',
  secondary: '#909399',
  placeholder: '#c0c4cc',
  bg: '#f5f7fa',
  border: '#dcdfe6'
}
